<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.maincon{
    text-align: center;
}
.con1{
    background-color: rgb(16,71,153);
    color:rgb(229,234,245);
    padding:25px;
}
img{
    color:black;
}
.img1{
    margin:20px;
    height: 60px;
    width:200px;
}
.con2{
    margin:40px;
    line-height: 25px; 
    font-size: 19px;
}
.btn{
    background-color: rgb(250,104,56);
    border: transparent;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 19px;
        color:rgb(229,234,245);

}
span{
    font-size: 18px;
}
.con3{
    background-color: rgb(229,234,245);
}
.foot{
    background-color: rgb(16,71,153);
    color:rgb(229,234,245);
    padding: 20px;
}
.img2{
    height: 60px;
}
</style>
</head>
<body>
<div>
    <img src="https://i.ibb.co/CWHvXbP/im2.png" alt="IMAGE" className="img1"></div>
    <div className="con1">
        <img src="https://i.ibb.co/Q9LDRH4/im1.png" alt="IMAGE" className="img2">
        <h3>THANKS FOR SIGNING UP!</h3>
        <h1>Varify your E-mail Address</h1>
    </div>
    <br>
    <div className="con2">Hi,<br>Please click on the button below to varify your email address</div>
    <a href='<%= url %>'><button className="btn">verify</button></a><br><br><br><br>
    <span>Thanks</span><br><br><br><br>
    <div className="con3">
        <br><br>
        <div>support@ubankconnect.com</div>
        <br><br><br>
        <div className="foot">Copyrights © U Bank Connect. All Rights Reserved</div>
    </div>
</div>
</body>
</html>